/*
=========
  Fonts
=========
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
=============
  Globals
=============
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #fff;
  color: #111;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}

h1{
  font-size: 3rem;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.heading{
  color: #FF1654;
  font-size: 1.7rem;
  background: #222;
  text-align:center;
  padding: .7em;
  border-radius: 5px;
}

.heading-bg-none{
  background: none;
  font-size: 2.6rem;
}

.sub-heading{
  font-size: 2rem;
  text-align: center;
  color: #08bb76;
}

.btn{
  color: #fff;
  background: #222;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 .5rem;
}

.btn:hover{
  color: #db5591;
  letter-spacing: 2px;
  background: #fff;
  border: 2px solid rgb(133,133,133);
}


/*
================
  Header Page
================
*/
.header-page{
  background: #333;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.header-page .logo a{
  color:#EB3D71;
  font-family: 'Poppins', sans-serif;
  font-size: 4.2rem;
  padding: 1rem;
}

/*
===========
  Navbar
===========
*/
.navbar{
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  border-top: 5px solid #3D4547;
}

.navbar ul{
  list-style: none;
}

.navbar a{
  float: left;
  display: block;
  color: #fff;
  margin-left: .3em;
  padding: 14px 16px;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 6px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  transition: letter-spacing .45s ease-in-out, background-color .45s ease-in-out;
}

.navbar a:hover{
  background-color: #222;
  color: #F7CE9B;
  letter-spacing: 2px;
  margin: 0 1rem;
  
}

.navbar .icon{
  display: none;
  background: #222;
}

@media screen and (max-width: 900px) {
  .navbar{
    background: #111;
    position: relative;
    top: 12px;
  }

  .login{
    display: none;
  }

  .navbar a{
  	display: none;
    color: #F7CE9B;
   }

  .navbar a.icon{
    float: right;
    display: block;
    background: #000;
    margin: 0 .9em;
  }
}

@media screen and (max-width: 900px){
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon{
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
  }
  .navbar.responsive a, 
  .navbar.responsive button{
    float: none;
    display: block;
  
  }
}

/*
========
  Page
========
*/
.page{
  padding: 1rem;
  width: 100%;
}

/*
===========
  Banner
===========
*/
.banner{
  width: 100%; 
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

.banner img{
  width: 100%;
  height: auto;
}

/*
============
 Friday pet
============
*/
.friday-pet{
  width: 100%;
  padding: .6rem;
}

.shop-items{
  width: 100%;
  background: #fff;
  border-right: 12px solid #F7CE9B;
  border-bottom: 12px solid #F7CE9B;
  border-left: 12px solid #F7CE9B;
  border-radius:4px;
  padding: 1.2rem;
  margin-bottom: 3rem;
}

.shop-items .shop-item{
  border: .1rem solid #d3d9de;
  border-radius: 12px;
  display: inline-block;
  margin: 1rem;
  padding: 1.6rem;
  text-align: center;
  width: 260px;
  min-height: 280px;
  cursor: pointer;
}

.shop-items .shop-item:hover{
  box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 8%), 
              0 3px 4px 0 rgb(0, 0, 0, 8%);
}

.shop-items .shop-item .shop-item-title{
  padding-bottom: .9rem;
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 1.33rem;
  font-weight: 700;
}

.shop-items .shop-item .shop-item-image{
  width: 100%;
  padding-bottom: .9rem;
}

.shop-item-details .shop-item-price,
.shop-item-details .shop-item-button{
  display: block;
  text-align: center;
  width: 100%;
}

.shop-item-details .shop-item-button{
  padding: .5rem;
}

.shop-item-stars{
  color: #fa0;
  padding-bottom: 1rem;
  font-size: 1.35rem;
}

.shop-item-details span{
  padding: .5rem;
}

.shop-item-brand{
  font-size: 1.35rem;
  font-family: 'Poppins', sans-serif;
  color: #546160;
}

.shop-item-details .shop-item-price{
  margin-bottom: .2em;
  color: #db5591;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
}

.shop-item-price-deprect{
  text-decoration:line-through;
}

.btn-more-product{
  display: block;
  text-align: center;
  width: 24rem;
  margin-top: 1rem;
  padding: .5rem;
  background-color: #2276dd;
  border-color: transparent;
}

.btn-more-product:hover{
  color: #2C6FC2;
  border: 3px solid #2C6FC2;
  letter-spacing: 0.5px;
  background-color: rgba(255, 255, 255, .6);
}

/* 
=============
  Services
============= 
*/
.services{
  width: 100%;
  margin-bottom: 2rem;
  padding: 3rem;
}

.services .heading{
  color: #F7CE9B;
}

.box-container{
  border-radius: 5px;
}

.box{
  display: inline-block;
  width: 350px;
  border: 4px solid #3D4547;
  margin: 24px;
  padding: 1.3rem;
  border-radius: 34px;
  margin-bottom: 3em;
}

.box div{
  width: 120px;
  margin: 0 auto;
}

.box div img{
  width: 100%;
}

.box p{
  color: #111;
  font-weight: 500;
  padding: .6rem;
  letter-spacing: 2px;
  line-height: 1.4;
}

.btn-services{
  color: #fff;
  padding: 1.3rem;
  border: none; 
  border-radius: 16px;
}

.btn-services:hover{
  background: #db5567;
  color: #fff;
}

/*
==========
  Drives
==========
*/
.drives{
  width: 800px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 2rem;
}

.drives .heading{
  border-radius: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background: rgba(0, 0, 0, 0.9);
}

/* Hide the images by default */
.mySlides{
  display: none;
} 

.mySlides img{
  background-color: rgba(0, 0, 0, 1);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #ff1654;
}

.text{
  display: none;
}

.mySlides:hover .text{
  display: block;
  background-color:rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f7ce9b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #111;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

.content{
  text-align: justify;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.1cm;
  padding: 2rem;
  padding-top: 0;  
}

.content p{
  padding: 2rem;
}

.btn-more{
  padding: .6rem .9rem;
  background-color: #333;
  font-size: 1.4rem;
  border: none;
}

.btn-more:hover{
  color: #F7CE9B;
  background-color: #333;
  letter-spacing: 1px;
}

/*
==========
  About
==========
*/
.about{
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  color: #F7CE9B;
  margin-bottom: 3rem;
}

.about header{
  padding-top: 2rem;
}

.about header h2,
.about header img{
  display: inline-block;
}

.about .heading{
  background: none;
  text-align: left;
  text-indent: 45px;
  padding-top: 2rem;
  font-size: 2.5rem;
}

.about .content{
  width: 100%;
  padding-bottom: 1rem;
}

.about .content p{  
  padding: 1rem 5rem .5rem 5rem;
  line-height: 2rem;    
}

.about .content div{
  margin: 2rem;  
}

.about .content .btn-more{
  background: #FF1654;
  color: #fff;
  margin: 1rem;
  font-size: 1.3rem;
  border: none;
}

.about .content .btn-more:hover{
  transition: 1s;
  background: #fff;
  color: #FF1654;
}


/*
===============
  Newslleter
===============
*/
form.newsletter{
  width: 45rem;
  margin: 0 auto;
  text-align: center;
  background-color: #F7CE9B;
}

form.newsletter .heading{
  font-size: 1.8rem;
  background-color: #111;
  color: #EB3D71;
  border-radius: 0;
}

form.newsletter .heading i{
  color: #F7CE9B;  
}

form.newsletter .row{
  padding: 1em;
  width: 100%;
  background-color: #EB3D71;
}

form.newsletter input[type="text"],
form.newsletter input[type="email"]{
  width: 100%;
  padding: 1.2rem;
  margin-top: 24px;
  border: none;
  border-radius: 12px;
  color: #111;
  text-align: left;
  color: #111;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
}

form.newsletter input::placeholder{
  color: #111;
  font-weight: 500;
  font-size: 1.2rem;
}

form.newsletter input[type="submit"]{
  width: 100%;
  padding: 1.1rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  background-color: #08bb76;
  border: 2px outset #db5591;
  border-radius: 2px; 
  margin-top: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

form.newsletter input[type="submit"]:hover{
  transition: 1s;
  background: #111;
  color: #EB3D71;
}


/*
====================
  Drives Container
====================
*/
.drives-container{
  width: 100%;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.drive{
  width: 45rem;
  border: 2px solid #222;
  border-radius: 12px;
  padding: 1.2rem;
  margin: 34px;
  margin-right: auto;
  margin-left: auto;
}

.drive:hover{
  box-shadow: -1px -1px rgb(121, 115, 115), 1px 1px rgb(121, 115, 115);
}

.drive-img{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.drive-img1{
  background-image: url('../assets/unidades/unidad-01.jpg');
}
.drive-img2{
  background-image: url('../assets/unidades/unidad-02.jpg');
}
.drive-img3{
  background-image: url('../assets/unidades/unidad-03.jpg');
}
.drive-img4{
  background-image: url('../assets/unidades/unidad-04.jpg');
}

.drive-content{
  padding: 1rem;
}

.drive-title{
  text-align: center;
  font-size: 1.6rem;
  padding-top: 1.4rem;
  color: #EB3D71;
}

.drive-content h5{
  font-size: 1.2rem;
}

.drive-content p{
  text-indent: 20px;
  padding: .9rem;
  font-size: 1rem;
  font-weight: 500;
  color: #546160;
}


/*
==================
  Services Main
==================
*/
.services-main header p{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: #08bb76;
  padding-bottom: 1.9rem;

}

.services-main header .nav-services{
  text-align: center;
  margin-bottom: 1.4rem;
  padding: 1rem;
}

.nav-services a{
  color: #3D4547;
  font-size: 1.4rem;
  display: inline-block;
  width: 200px;
  margin: 12px;
  padding: 1.2rem;
  border-radius: 4px;
  background-color: #f7ce9b;
}

.nav-services a:hover{
  font-weight: 600;
  font-size: 1.3rem;
  color: #f7ce9b;
  background-color: #3D4547;
}

/*
=========
  Hero
=========
*/
.hero-container{
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  background-image: url(../assets/pics/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 6px solid #111;
  border-bottom: 6px solid #111;
}

.hero{
  width: 100%;
  height: 554px;
  position: relative;
}

.hero:hover{
  background-color:  rgba(0, 0, 0, 0.342);
}

.hero h3{
  display: none;
}

.hero:hover h3{
  display: block;
  position: absolute;
  top: 50%;
  left: 33.5%;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #fff;
}

/* 
================
  Box Services 
================
*/
.box-services{
  margin-top: 2.5rem;
  text-align: center;
}

.box-service{
  padding: 4rem;
  padding-top: 1rem;
  display: inline-block;
  width: 90%;
}

.service-image img{
  width: 100px;
  padding-bottom: 1.3rem;
}

.box-service .box-service-title{
  padding-bottom: 1.6rem;
  font-size: 1.9rem;
  color: #08bb76;
  font-family: 'Poppins', sans-serif;
}

.box-service .box-service-details{
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.box-service div{
  padding-top: 1.4rem;
}

.btn-service{
  background-color: #111;
  padding: 1rem 3rem;
}

.btn-service:hover{
  color: #ccc;
  border: none;
  background-color: #111;
  letter-spacing: 1px;
  transition: 1s;
}

.btn-service i{
  font-size: 1.7rem;
  color: #F7CE9B;
}

/*
=============
  About Main
=============
*/
.about-main{
  padding: 1rem;  
}

.about-main article header{
  background-color: #3D4547;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  padding: 1.1rem;
  color: #fff;
  text-indent: 25px;
  font-size: 1.5rem;
}

.about-main article header span{
  color: #f7ce9b;
}

.about-main article p{
  padding: .3rem .6rem;
  font-size: 1.3rem;
}

.about-main article img{
  float: right;
}

.about-main article p strong{
  font-family: 'Poppins', sans-serif;
}

.about-main article ol{
  margin-left: 3.5rem;
  margin-bottom: 2.5rem;
}

.about-main article ol li{
  padding: .3rem .6rem;
  font-size: 1.3rem;
}

.about-main article ol li strong{
  color: #546160;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.about-main aside{
  padding-top: 2rem;
  border-top: 4px solid #546160;
}

/*
=============
  Contact
=============
*/
.contact-social-media{
  width: 100%;
  margin-top: 2.4rem;
  padding: 2rem;
}

.contact-social-media h3{
  font-size: 1.6rem;
}

.contact-social-media .social-media{
  margin-top: 1.4rem;
}

.contact-social-media .social-media a{
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
}
.contact-social-media .social-media a i{
  font-size: 2.5rem;
}

.contact-social-media .social-media a i,
.contact-social-media .social-media a span{
  color: #EB3D71;
}

form.form-contact{
  width: 70%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.row label, 
.row h3{
  color: #45a049;
  font-size: 1.4rem;
}

.form-contact .row h3{
  font-size: 1.5rem;
  padding-top: .9rem;
  padding-bottom: .6rem;
}

input[type=text],
input[type=email],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="tel"],
textarea,
select{
  width: 100%; 
  padding: 1rem; 
  border: 2px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  font-size: 1.1rem;
  font-weight: 500;
}

.form-contact textarea{
  margin-bottom: 6px;
  margin-top: 5px;
}

.form-contact input[type=submit]{
  margin-top: 5px;
}

input[type=submit],
input[type=reset]{
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
  font-size: 1.1rem;
}

input[type=reset]{
  background-color: #EB3D71;  
}

input[type=submit]:hover,
input[type=reset]:hover{
  background-color: transparent;
  border: 1px solid #04AA6D;
  color: #000;
}

input[type=reset]:hover{
  border-color: #EB3D71;
}

.column .row{
  width: 100%;
  padding: 1rem;
}

.row label,
.row input[type="text"],
.row input[type="email"]{
  display: block;
  width: 100%;
  text-align: left;
}

/*
============
  Produtos
============
*/
.nav-products{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #333;
}

.nav-products ul:hover ul{
  background: #EB3D71;
}

.nav-products ul:hover ul li a{
  background: #3D4547;
}

.nav-products ul li a{
  color: #F7CE9B;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.1rem;
  line-height: 2;
}

.nav-products ul ul li a{
  color: #f7ce9b;
  font-size: 1rem;
}

.nav-products ul li a:hover{
  background-color: #3D4547;
}
.nav-products ul ul li a:hover{
  background-color: #373c3d;
}

.dropdown ul{
  list-style-type: none; 
  position: relative;
}

.dropdown ul li{
  display: inline;
  position: relative;
}

.dropdown ul li a{
  display: inline-block;
  padding: 1rem;
  transition: background .344s;
}

.dropdown ul ul{
  display: none;
  position: absolute;
  left: 0;
}

.dropdown ul li:hover ul{
  display: block;
}

.dropdown ul ul{
  width: 250px;
}

.dropdown ul ul li a{
  display: block;
}

.dropdown ul li:hover ul a{
  margin-left: .4rem;
}

div.pic{
  min-width: 550px;
  display: inline-block;
  margin-left: 2%;
  margin-right: 4%;
}

div.pic img{
  width: 100%;
}

.container{
  margin-bottom: 3rem;
}

/*
============
  Cadastro
============
*/
.cadastro{
  padding: 4rem;
  text-align: center;
}

.cadastro div{
  display: inline-block;
  padding: 1rem;  
  margin: .6rem;
}

.cadastro a{
  color: #fff;  
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.cadastro a:hover{
  border: 4px solid #333;
  background-color: transparent;
  color: #EB3D71;
}

.cadastro .cadastro-pet{
  background-color:#EB3D71;
}

.cadastro .cadastro-conta{
  background-color: #F7CE9B;
  color: #333333;
}

.cadastro-pet header .heading{
  padding: 2rem;
}

/*
=========
  Login
=========
*/
/* Full-width input fields */
.modal input[type=text], .modal input[type=password] {
  width: 100%;
  padding: 1.1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal input[type="checkbox"]{
  margin-top: 1.5rem; 
}

/* Set a style for all buttons */
button {
  background-color: #EB3D71;
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 100%;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.psw {  
  /* float: right; */
  margin-top: .6rem;
  display: block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content:first-child{
  margin-bottom: 0;
}

.btn-login{
  margin-top: 1rem; 
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.modal label{
  font-size: 1.3rem;
}

.modal input::placeholder{
  font-size: 1.2rem;
  color:#3D4547;
  font-family: 'Poppins', sans-serif;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.modal button{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;  
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/*
==================
  Cadastro Conta
==================
*/
form.cadastro-conta .row h3,
form.cadastro-pet .row h3{
  padding: 1.4rem;
  font-size: 1.9rem;
  text-align: center;
  margin-bottom: 1.8rem;
}

.input-fields{
  color: #546160;
  font-family: 'Poppins', sans-serif;
  margin-top: 24px;
  max-width: 65em;
  margin: 0 auto;
}

.checkbox{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox input{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.checkbox label{
  position: relative;
  padding-left: 2.2em;
  display: inline-block;
}
.checkbox label::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
  background: #e5e5e5;
  margin-right: 0.5em;
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.checkbox label::after{
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 0.75em;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: #FFF;
  opacity: 0;
  transition: all 0.2s ease;
}
.checkbox label:focus::before, .checkbox label:hover::before {
  background: #DDD;
}
.checkbox input:checked + label::before {
  background: green;
}
.checkbox input:checked + label::after {
  opacity: 1;
}

.input-fields{
  padding-bottom: 1.2rem;
}

.input-fields label input em{
  font-size: 1rem;
}

.btn-fields button{
  width: 32rem;
}

.btn-cadastro{
  background-color: #08bb76;
  margin-right: 24px;
}


/*
==================
  Cadastro Pet
==================
*/
.cadastro-pet{
  margin-top: 1.7rem
}

.cadastro-pet .row h3{
 margin-bottom: .6rem!important;
 padding-bottom: .2rem!important;
}

.input-fields select{
  width: 300px;
  font-size: 1.2rem;
  font-weight: 500;
}


/*
==========
  Footer
==========
*/
.footer-page{
  background: #333;
  color: #EB3D71;
  text-align: center;
  padding: 1.8rem;
  border-top: 10px outset #222;
  margin-top: 3.5rem;
}

.footer-page div{
  display: inline-block;
}

.footer-page .footer-logo{
  margin-top: 24px;
  margin-right: 16%;
  margin-bottom: 24px;
  font-size: 2em;
}

.footer-page .social-media{
  font-size: 2rem;
}

.social-media a{
  margin: .7rem;
  color: #F7CE9B;
}
.social-media a i:hover{
  transform: scale(1.5);
  transition: 1s;
}

.social-media a:active{
  color: #fff;
}

.footer-page .logo-footer{
  padding: 1.5rem;
}

address{
  color: #fff;
}